
body{
    display: flex;
    flex-direction: column;
    background-color:rgb(213, 235, 250);
   
    align-items: center;
}
p{
    
    padding: 2% 5% 2% 5%;
    
}
ul{
    list-style-type:circle;
}
h1{
    
}
h3{
    
    font-weight:493;
    color:rgb(69, 6, 186);
}
h4{
    
    font-family: cursive ;
    color:rgb(94, 189, 85);
}
h5{
}
h4 a{
    text-decoration: none;
}
img{
    height: 27dvw;
}
